In [49]:
import pandas as pd

In [50]:
province = pd.read_csv('../input/POSAS_2024_it_Province.csv', sep=';', header=1)
province.loc[province['Provincia'] == "Valle d'Aosta/Vallée d'Aoste", 'Provincia'] = "Aosta"
province.head()

,Codice provincia,Provincia,Età,Celibi,Coniugati,Divorziati,Vedovi,Uniti civilmente,Maschi già in unione civile (per scioglimento unione),Maschi già in unione civile (per decesso del partner),Totale maschi,Nubili,Coniugate,Divorziate,Vedove,Unite civilmente,Femmine già in unione civile (per scioglimento unione),Femmine già in unione civile (per decesso del partner),Totale femmine,Totale
0,84,Agrigento,0,1483,0,0,0,0,0,0,1483,1463,0,0,0,0,0,0,1463,2946
1,84,Agrigento,1,1587,0,0,0,0,0,0,1587,1508,0,0,0,0,0,0,1508,3095
2,84,Agrigento,2,1570,0,0,0,0,0,0,1570,1442,0,0,0,0,0,0,1442,3012
3,84,Agrigento,3,1525,0,0,0,0,0,0,1525,1532,0,0,0,0,0,0,1532,3057
4,84,Agrigento,4,1620,0,0,0,0,0,0,1620,1532,0,0,0,0,0,0,1532,3152

In [51]:
iso_province = pd.read_csv('../input/ISO_Province.csv')
iso_province.head()

  den_geografica tipo_geografico    ISO
0      Agrigento       Provincia  IT-AG
1    Alessandria       Provincia  IT-AL
2         Ancona       Provincia  IT-AN
3          Aosta       Provincia  IT-AO
4         Arezzo       Provincia  IT-AR

df_conISO = df_conISO.drop('Provincia', axis=1)

In [52]:
province_conISO = iso_province.merge(province, left_on='den_geografica', right_on='Provincia' , how='right')
province_conISO = province_conISO.drop('Codice provincia', axis=1)
province_conISO.rename(columns={'ISO' :'cod_geografico'}, inplace=True)
province_conISO.head()

,den_geografica,tipo_geografico,cod_geografico,Provincia,Età,Celibi,Coniugati,Divorziati,Vedovi,Uniti civilmente,...,Totale maschi,Nubili,Coniugate,Divorziate,Vedove,Unite civilmente,Femmine già in unione civile (per scioglimento unione),Femmine già in unione civile (per decesso del partner),Totale femmine,Totale
0,Agrigento,Provincia,IT-AG,Agrigento,0,1483,0,0,0,0,...,1483,1463,0,0,0,0,0,0,1463,2946
1,Agrigento,Provincia,IT-AG,Agrigento,1,1587,0,0,0,0,...,1587,1508,0,0,0,0,0,0,1508,3095
2,Agrigento,Provincia,IT-AG,Agrigento,2,1570,0,0,0,0,...,1570,1442,0,0,0,0,0,0,1442,3012
3,Agrigento,Provincia,IT-AG,Agrigento,3,1525,0,0,0,0,...,1525,1532,0,0,0,0,0,0,1532,3057
4,Agrigento,Provincia,IT-AG,Agrigento,4,1620,0,0,0,0,...,1620,1532,0,0,0,0,0,0,1532,3152

In [53]:
province_conISO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11016 entries, 0 to 11015
Data columns (total 22 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   den_geografica                                          11016 non-null  object
 1   tipo_geografico                                         11016 non-null  object
 2   cod_geografico                                          11016 non-null  object
 3   Provincia                                               11016 non-null  object
 4   Età                                                     11016 non-null  int64
 5   Celibi                                                  11016 non-null  int64
 6   Coniugati                                               11016 non-null  int64
 7   Divorziati                                              11016 non-null  int64
 8   Vedovi                                                  11016 non-null  int64
 9   Uniti civilmente                                        11016 non-null  int64
 10  Maschi già in unione civile (per scioglimento unione)   11016 non-null  int64
 11  Maschi già in unione civile (per decesso del partner)   11016 non-null  int64
 12  Totale maschi                                           11016 non-null  int64
 13  Nubili                                                  11016 non-null  int64
 14  Coniugate                                               11016 non-null  int64
 15  Divorziate                                              11016 non-null  int64
 16  Vedove                                                  11016 non-null  int64
 17  Unite civilmente                                        11016 non-null  int64
 18  Femmine già in unione civile (per scioglimento unione)  11016 non-null  int64
 19  Femmine già in unione civile (per decesso del partner)  11016 non-null  int64
 20  Totale femmine                                          11016 non-null  int64
 21  Totale                                                  11016 non-null  int64
dtypes: int64(18), object(4)
memory usage: 1.8+ MB

In [54]:
province_conISO[province_conISO['den_geografica'].isnull()]

Empty DataFrame
Columns: [den_geografica, tipo_geografico, cod_geografico, Provincia, Età, Celibi, Coniugati, Divorziati, Vedovi, Uniti civilmente, Maschi già in unione civile (per scioglimento unione), Maschi già in unione civile (per decesso del partner), Totale maschi, Nubili, Coniugate, Divorziate, Vedove, Unite civilmente, Femmine già in unione civile (per scioglimento unione), Femmine già in unione civile (per decesso del partner), Totale femmine, Totale]
Index: []

[0 rows x 22 columns]

In [55]:
regioni = pd.read_csv('../input/POSAS_2024_it_Regioni.csv', sep=';', header=1)
regioni.loc[regioni['Regione'] == "Trentino-Alto Adige/Südtirol", 'Regione'] = "Trentino-Alto Adige"
regioni.loc[regioni['Regione'] == "Valle d'Aosta/Vallée d'Aoste", 'Regione'] = "Valle d'Aosta"

regioni.head()

,Codice regione,Regione,Età,Celibi,Coniugati,Divorziati,Vedovi,Uniti civilmente,Maschi già in unione civile (per scioglimento unione),Maschi già in unione civile (per decesso del partner),Totale maschi,Nubili,Coniugate,Divorziate,Vedove,Unite civilmente,Femmine già in unione civile (per scioglimento unione),Femmine già in unione civile (per decesso del partner),Totale femmine,Totale
0,13,Abruzzo,0,3950,0,0,0,0,0,0,3950,3631,0,0,0,0,0,0,3631,7581
1,13,Abruzzo,1,4193,0,0,0,0,0,0,4193,3870,0,0,0,0,0,0,3870,8063
2,13,Abruzzo,2,4256,0,0,0,0,0,0,4256,4135,0,0,0,0,0,0,4135,8391
3,13,Abruzzo,3,4412,0,0,0,0,0,0,4412,4135,0,0,0,0,0,0,4135,8547
4,13,Abruzzo,4,4479,0,0,0,0,0,0,4479,4283,0,0,0,0,0,0,4283,8762

In [56]:
iso_regioni = pd.read_csv('../input/ISO_Regioni.csv')
iso_regioni.head()

  cod_geografico              DEN_REG
0          IT-21             Piemonte
1          IT-23        Valle d'Aosta
2          IT-25            Lombardia
3          IT-32  Trentino-Alto Adige
4          IT-34               Veneto

In [57]:
regioni_conISO = iso_regioni.merge(regioni, left_on='DEN_REG', right_on='Regione' , how='right')
regioni_conISO.head()

,cod_geografico,DEN_REG,Codice regione,Regione,Età,Celibi,Coniugati,Divorziati,Vedovi,Uniti civilmente,...,Totale maschi,Nubili,Coniugate,Divorziate,Vedove,Unite civilmente,Femmine già in unione civile (per scioglimento unione),Femmine già in unione civile (per decesso del partner),Totale femmine,Totale
0,IT-65,Abruzzo,13,Abruzzo,0,3950,0,0,0,0,...,3950,3631,0,0,0,0,0,0,3631,7581
1,IT-65,Abruzzo,13,Abruzzo,1,4193,0,0,0,0,...,4193,3870,0,0,0,0,0,0,3870,8063
2,IT-65,Abruzzo,13,Abruzzo,2,4256,0,0,0,0,...,4256,4135,0,0,0,0,0,0,4135,8391
3,IT-65,Abruzzo,13,Abruzzo,3,4412,0,0,0,0,...,4412,4135,0,0,0,0,0,0,4135,8547
4,IT-65,Abruzzo,13,Abruzzo,4,4479,0,0,0,0,...,4479,4283,0,0,0,0,0,0,4283,8762

In [58]:
regioni_conISO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2040 entries, 0 to 2039
Data columns (total 22 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   cod_geografico                                          2040 non-null   object
 1   DEN_REG                                                 2040 non-null   object
 2   Codice regione                                          2040 non-null   int64
 3   Regione                                                 2040 non-null   object
 4   Età                                                     2040 non-null   int64
 5   Celibi                                                  2040 non-null   int64
 6   Coniugati                                               2040 non-null   int64
 7   Divorziati                                              2040 non-null   int64
 8   Vedovi                                                  2040 non-null   int64
 9   Uniti civilmente                                        2040 non-null   int64
 10  Maschi già in unione civile (per scioglimento unione)   2040 non-null   int64
 11  Maschi già in unione civile (per decesso del partner)   2040 non-null   int64
 12  Totale maschi                                           2040 non-null   int64
 13  Nubili                                                  2040 non-null   int64
 14  Coniugate                                               2040 non-null   int64
 15  Divorziate                                              2040 non-null   int64
 16  Vedove                                                  2040 non-null   int64
 17  Unite civilmente                                        2040 non-null   int64
 18  Femmine già in unione civile (per scioglimento unione)  2040 non-null   int64
 19  Femmine già in unione civile (per decesso del partner)  2040 non-null   int64
 20  Totale femmine                                          2040 non-null   int64
 21  Totale                                                  2040 non-null   int64
dtypes: int64(19), object(3)
memory usage: 350.8+ KB

In [59]:
regioni_conISO[regioni_conISO['cod_geografico'].isnull()]

Empty DataFrame
Columns: [cod_geografico, DEN_REG, Codice regione, Regione, Età, Celibi, Coniugati, Divorziati, Vedovi, Uniti civilmente, Maschi già in unione civile (per scioglimento unione), Maschi già in unione civile (per decesso del partner), Totale maschi, Nubili, Coniugate, Divorziate, Vedove, Unite civilmente, Femmine già in unione civile (per scioglimento unione), Femmine già in unione civile (per decesso del partner), Totale femmine, Totale]
Index: []

[0 rows x 22 columns]

In [60]:
province_conISO = province_conISO.drop(['den_geografica', 'tipo_geografico'], axis=1)
province_conISO.to_csv('output/POSAS_2024_it_Province_con_ISO.csv', index=False)
regioni_conISO = regioni_conISO.drop(['Codice regione', 'DEN_REG'], axis=1)
regioni_conISO.to_csv('output/POSAS_2024_it_Regioni_con_ISO.csv', index=False)